#analytics{
    padding: 1%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.badges-analytics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.badges-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
}
.badges-line{
    display: grid;
    justify-items: center;
    text-align: center;
}
.badges-line h2, .badges-line p {
    margin: 0;
}
.badges-box>i{
    background-color: #FFD447;
    padding: 20px; 
    border-radius: 50%;
    font-size: 60px;
    display: grid;
    justify-self: center;
    align-self: center;
}
.recharts-analytics{
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
}
.topEmployees{
    grid-column: 1;
    grid-row: 1;
    grid-gap: 3%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    justify-items: center;
    align-items: center;
}
.salesBy-rechart{
    grid-column: 2 / 4;
    grid-row: 1;
    grid-gap: 5%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.salesBy-select{
    padding-left: 3%;
    justify-self: start;
    align-self: center;
}
.salesSince{
    grid-column: 1 / 3;
    grid-row: 2;
    display: grid;
    grid-gap: 3%;
    grid-template-rows: 1fr 9fr;    
}
.Acquisitions{
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-gap: 3%;
    grid-template-rows: 1fr 9fr;
    justify-items: center;
    align-items: center;
}