#analytics{
    margin: 1%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-row-gap: 8%
}
.badges-analytics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
        /* justify-items: center;
    align-items: center; */
}
.recharts-analytics{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 70%;
}
.badges-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
}
.badges-line{
    display: grid;
    justify-items: center;
    /* align-self: center; */
}
.badges-box>i  {     
    border: 5px solid rgb(31, 27, 27);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}