#CRM-main {
  justify-self: center;
  align-self: center;
  display: grid;
}
#CRM-main>div {
  align-items: center;
  display: grid;
  padding: 0.5% 2.5%
}

.rows-header{
  background-color: #FFD447;
  box-shadow: 0.4vw 0.4vh rgb(213, 211, 206);

  text-shadow:  1px -1px 0 #423E37,  1px 1px 0 #423E37;
  font-size: 150%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-content: center;
  justify-content: start;
  cursor: pointer;
  margin-bottom: 1vh
}

.rows-header > span {
  justify-self: center;
  align-self: center;
}
.client-row {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-content: center;
  justify-content: start;
  cursor: pointer;
  padding: 0.2%;
}
  
.client-row > span {
  justify-self: center;
  align-self: center;
}

.client-row:hover { background-color: rgb(230, 227, 223); }

.client-row:active {
  background-color: rgb(202, 196, 188);
  box-shadow: 1px -1px 1px rgb(179, 176, 163);
}
#client-search{
  display: grid;
  border: none;
  grid-template-columns: 1fr 1fr
}
.filter-client{
  width: 30vw;
  justify-items: start
}
.move-page-icons{
  width: 12vw;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}
.move-page-icons>span{
  justify-self: center;
  align-self: center;
}
  
  
  /* The Close Button */
#popup-close {
  color: #aaaaaa;
  float: right;
  font-size: 5vh;
  font-weight: bold;
  justify-self: end;
}
#popup-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#popup-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: grid;
  justify-content: center;
  align-content: center;
}
#popup-content {
  background-color: #423E37;
  padding: 4%;
  color: rgb(202, 196, 188);
  display: grid;
  border-radius: 5%;
  grid-template-rows: repeat(6, 1fr);
}
#popup-content>div{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
}
#popup-content>div>input{
  cursor: pointer;
}
.popup-titel{
  display: grid;
  grid-template-columns: 4fr 1fr !important;
  justify-content: center;
  align-content: center;
}