#CRM-main {
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}
a:hover {
  color: grey
  
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

#main-links {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 17fr;
  align-content: center;
  justify-content: start;
  /* text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1,  1px 1px 0 #ecf0f1; */
} 