#analytics{
    padding: 1%;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.badges-analytics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.badges-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
}
.badges-line{
    display: grid;
    justify-items: center;
    text-align: center;
}
.badges-line h2, .badges-line p {margin: 0}

.badges-box>i{
    background-color: #FFD447;
    padding: 20px; 
    border-radius: 50%;
    font-size: 60px;
    display: grid;
    justify-self: center;
    align-self: center;
}
.recharts-analytics{
    padding: 1%;
    display: grid;
    grid-template-areas: "te sr sr" "ss ss ac";
    grid-gap: 3%;
    text-decoration: underline;
}
.topEmployees{
    grid-area: te;
    grid-gap: 3%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.salesBy-rechart{
    grid-area: sr;
    grid-gap: 3%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.salesSince{
    grid-area: ss;
    grid-gap: 3%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.Acquisitions{
    grid-area: ac;
    grid-gap: 3%;
    display: grid;
    grid-template-rows: 1fr 9fr;
}