body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

#navbar {
  height: 7vh;
  display: grid;
  background-color: #423E37;
}

#main-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height:  7vh;
  width: 15vw;
} 

#main-links > a {
  width: 100%;
  height:  100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

#main-links > a:hover {
  background-color: #FFD447;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
.loader-active{
  display: grid;
  justify-items: center;
  align-items: center;
}